<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.manage.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.spring.manage.vo.BookVO" alias="BookVO" />
		<typeAlias type="com.spring.manage.vo.StudyRoomVO" alias="StudyRoomVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/bookMapper.xml" />
		<mapper resource="mapper/studyRoomMapper.xml" />
		<mapper resource="mapper/arrangeClassRoomMapper.xml" />
	</mappers>
</configuration>
