<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 도서등록  SQL -->
<mapper namespace="com.spring.manage.dao.AdminDAO">


<!-- 대출 신청 목록 -->
<select id="getStatusList" parameterType="map" resultType="LendVO">
	SELECT l.num, l.mem_num, l.booknum, to_char(l.startdate,'yyyy.mm.dd') startdate, to_char(l.enddate,'yyyy.mm.dd') enddate, 
	to_char(l.returndate,'yyyy.mm.dd') returndate, b.title, m.name, l.status
	FROM lend l, books b, member m
	WHERE l.booknum=b.num
	AND l.mem_num=m.student_num
	AND l.status=#{status}
	<choose>
  			<when test="value=='reserved'">
				ORDER BY startdate
  			</when>
  			<when test="value=='lent'">
				ORDER BY enddate
  			</when>
  			<when test="value=='delayed'">
				ORDER BY enddate
  			</when>
	</choose>
	AND
	<if test="searchType=='title'">
		b.title LIKE '%'||#{searchValue}||'%'
	</if>
	<if test="searchType=='name'">
		m.name LIKE '%'||#{searchValue}||'%'
	</if>
</select>

<!-- 대출 승인 -->
<update id="lendBook" parameterType="map">
	UPDATE lend
	SET status='lent', enddate = sysdate + #{daysOfLend}, startdate = sysdate
	WHERE num = #{num}
</update>

<!-- 대출 반려 -->
<update id="rejectBook">
	UPDATE lend
	SET status='rejected'
	WHERE num = #{num}
</update>

<!-- 도서 반납 -->
<update id="returnBook">
	UPDATE lend
	SET status='returned', returndate=sysdate
	WHERE num = #{num}
</update>

<!-- 연체 확인 -->
<update id="updateDelayed">
	UPDATE lend
	SET status = 'delayed'
	WHERE sysdate > enddate+1
	AND status != 'delay_returned'
</update>

<!-- 연체 도서 반납 -->
<update id="returnDelayedBook">
	UPDATE lend
	SET status = 'delay_returned', returndate=sysdate
	WHERE num=#{num}
</update>

<!-- 캘린더관련 -->	
<!-- 대출 승인 -->
<update id="lendBook" parameterType="map">
    UPDATE lend
    SET status='lent', enddate = sysdate + #{daysOfLend}, startdate = sysdate
    WHERE num = #{num}
</update>

<!-- 캘린더 : 도서 대출 승인시 대여요청일자 -> 반납예정일자로 변경 표시 -->
<update id="modifyLendEvent" parameterType="map">
    UPDATE EVENT SET (
        MEMO, START_TIME, END_TIME, BACKGROUNDCOLOR, TEXTCOLOR
    ) = ( SELECT 
        '대여중 from '||TO_CHAR(SYSDATE, 'YY/MM/DD'), SYSDATE + #{daysOfLend}, SYSDATE + #{daysOfLend}, '#002666', '#FFFFFF'
        FROM DUAL
    )
    WHERE REFERENCE = 'BR'||#{num}
</update>
	
<!-- 캘린더 : 도서 대출 반려시 이벤트 삭제 -->
<delete id="deleteLendEvent" parameterType="int">
    DELETE EVENT WHERE REFERENCE = 'BR'||#{num}
</delete>
	
<!-- 캘린더 : 도서 반납시 반납일자에 반납여부 표시 -->
<update id="endLendEvent" parameterType="int">
    UPDATE EVENT SET (
        MEMO, START_TIME, END_TIME, BACKGROUNDCOLOR, TEXTCOLOR
    ) = ( SELECT 
        '반납완료', SYSDATE, SYSDATE, '#a7b4cc', '#FFFFFF'
        FROM DUAL
    )
    WHERE REFERENCE = 'BR'||#{num}
</update>
	
<!-- 도서 연체 리스트 가지고 오기 -->
<select id="getDelayedList" resultType="LendVO">
    SELECT * FROM LEND WHERE STATUS = 'DELAY_RETURNED'
</select>

<!-- 캘린더 : 도서 연체시 연체일자에 연체여부 표시 -->
<update id="delayedLendEvent" parameterType="LendVO">
	    UPDATE EVENT SET (
	        MEMO, START_TIME, END_TIME, BACKGROUNDCOLOR, TEXTCOLOR
	    ) = ( SELECT 
	        '연체중 from '||TO_CHAR(#{enddate}, 'YY/MM/DD'), SYSDATE, SYSDATE, '#ff2626', '#FFFFFF'
	        FROM DUAL
	    )
	    WHERE REFERENCE = 'BR'||#{num}
</update>
	

	
</mapper>
