<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 스터디룸 예약처리 처리 SQL -->
<mapper namespace="com.spring.manage.dao.EventMapper">

    <!-- 예약현황 조회시점의 시각 조회 -->
    <select id="getSysdate" resultType="String">
        SELECT TO_CHAR(SYSDATE, 'YY-MM-DD HH24:MI:SS dy') FROM DUAL
    </select>

    <!-- 캘린더-이벤트 가져오기 -->
    <select id="getEvent" parameterType="int" resultType="EventVO">
        SELECT STUDENT_NUM, MEMO, ID, TITLE, ALLDAY, START_TIME AS "START", END_TIME AS "END",
            URL_STR AS "URL", CLASSNAME, EDITABLE, STARTEDITABLE, DURATIONEDITABLE, RESOURCEEDITABLE, RENDERING, 
            OVERLAP, CONSTRAINT_EVENT AS "CONSTRAINT", SOURCE_EVENT AS "SOURCE", 
            BACKGROUNDCOLOR, BORDERCOLOR, TEXTCOLOR, REFERENCE
        FROM EVENT
        WHERE STUDENT_NUM = #{student_num} OR CONSTRAINT_EVENT != 0
        ORDER BY START_TIME
    </select>
    
    <!-- 캘린더 - 이벤트 등록하기 -->
    <insert id="addEvent" parameterType="EventVO">
        INSERT INTO EVENT VALUES (
            #{student_num}, #{memo}, 'EV'||EV_SEQ.NEXTVAL, #{title}, 
            <if test="allDay == true"> 1,</if>
            <if test="allDay == false"> 0,</if>
            TO_TIMESTAMP(#{start}, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(#{end}, 'YYYY-MM-DD HH24:MI:SS'), null, 
            <if test="className == ''">null,</if>
            <if test="className != ''">#{className},</if>
            <if test="constraint == ''">1, 1, 1, 1, 0, 1,</if>
            <if test="constraint != ''">0, 0, 0, 0, 0, 0,</if>
            #{constraint}, null, #{backgroundColor}, null, null,
            <if test="reference == ''">null</if>
            <if test="reference != ''">#{reference}</if>
        )
    </insert>
    
    <!-- 캘린더 - 이벤트 수정하기 -->
    <update id="modifyEvent" parameterType="EventVO">
        UPDATE EVENT SET (
            MEMO, TITLE, ALLDAY, START_TIME, END_TIME,
            URL_STR, CLASSNAME, EDITABLE, STARTEDITABLE, DURATIONEDITABLE, RESOURCEEDITABLE, RENDERING, 
            OVERLAP, CONSTRAINT_EVENT, SOURCE_EVENT,
            BACKGROUNDCOLOR, BORDERCOLOR, TEXTCOLOR, REFERENCE
        ) = ( SELECT 
            #{memo}, #{title}, 
            <if test="allDay == true"> 1,</if>
            <if test="allDay == false"> 0,</if>
            TO_TIMESTAMP(#{start}, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(#{end}, 'YYYY-MM-DD HH24:MI:SS'), null, 
            <if test="className == ''">null,</if>
            <if test="className != ''">#{className},</if>
            <if test="constraint == ''">1, 1, 1, 1, 0, 1,</if>
            <if test="constraint != ''">0, 0, 0, 0, 0, 0,</if>
            #{constraint}, null, #{backgroundColor}, null, null,
            <if test="reference == ''">null</if>
            <if test="reference != ''">#{reference}</if> 
            FROM DUAL
        )
        WHERE ID = #{id} AND STUDENT_NUM = #{student_num}
    </update>
    
    <!-- 캘린더 - 이벤트 삭제하기 -->
    <delete id="deleteEvent" parameterType="EventVO">
        DELETE EVENT WHERE ID = #{id} AND STUDENT_NUM = #{student_num}
    </delete>
    
    <!-- 캘린더 - 이벤트 일정 드래그로 수정하기 -->
    <update id="modifyEventDrag" parameterType="EventVO">
        UPDATE EVENT SET 
        <if test="start != ''">
        START_TIME = (SELECT #{start} FROM DUAL),
        </if>
        END_TIME = (SELECT #{end} FROM DUAL)
        WHERE ID = #{id} AND STUDENT_NUM = #{student_num}
    </update>
    
</mapper>
