<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.spring.manage.dao.MemberMapper">

	<select id="login" parameterType="MemberVO" resultType="MemberVO">
		select * from member where student_num = #{student_num} and pwd=#{pwd}
	</select>

	<update id="join" parameterType="MemberVO">
		update member set
		pwd = #{pwd},
		zip = #{zip},
		address = #{address},
		email = #{email} 
		where student_num = #{student_num}
		
	</update>
</mapper>
